@font-face {
  font-family: "Geomanist";
  font-weight: 100;
  src: url("/zostanHerosem/fonts/Geomanist-Thin.otf");
}

@font-face {
  font-family: "Geomanist";
  font-weight: 200;
  src: url("/zostanHerosem/fonts/Geomanist-ExtraLight.otf");
}

@font-face {
  font-family: "Geomanist";
  font-weight: 300;
  src: url("/zostanHerosem/fonts/Geomanist-Light.otf");
}

@font-face {
  font-family: "Geomanist";
  font-weight: 400;
  src: url("/zostanHerosem/fonts/Geomanist-Regular.otf");
}

@font-face {
  font-family: "Geomanist";
  font-weight: 500;
  src: url("/zostanHerosem/fonts/Geomanist-Book.otf");
}

@font-face {
  font-family: "Geomanist";
  font-weight: 600;
  src: url("/zostanHerosem/fonts/Geomanist-Medium.otf");
}

@font-face {
  font-family: "Geomanist";
  font-weight: 700;
  src: url("/zostanHerosem/fonts/Geomanist-Bold.otf");
}

@font-face {
  font-family: "Geomanist";
  font-weight: 800;
  src: url("/zostanHerosem/fonts/Geomanist-Black.otf");
}

@font-face {
  font-family: "Geomanist";
  font-weight: 900;
  src: url("/zostanHerosem/fonts/Geomanist-Ultra.otf");
}
