---
import Layout from "../layouts/Layout.astro";
import Article from "../components/Article.astro";
import H1 from "../components/H1.astro";
import H2 from "../components/H2.astro";
import H4 from "../components/H4.astro";
import ImagePanelGrid from "../layouts/ImagePanelGrid.astro";
import OpacityCarousel from "../components/OpacityCarousel.astro";
import SkewButton from "../components/SkewButton.astro";
import LogoHerosi from "../components/LogoHerosi.astro";
import ArticleSymetric from "../components/ArticleSymetric.astro";

const title = "#ZostanHerosem";
---

<Layout title={title}>
  <Article left width={55} paddingY>
    <div>
      <H1>Od 2009 roku wspieramy dzieci</H1>
      <H2>z chorobami nowotworowimy</H2>
    </div>
    <div>
      <H4>Kim są herosi?</H4>
      <p>
        Każde dziecko leczące się w Klinice Onkologii i Chirurgii Onkologicznej
        Dzieci i Młodzieży Instytutu Matk ii Dziecka w Warszawie oraz każdy
        rodzic i opiekun zna Herosów.
      </p>
      <p>
        Wolontariusze Funacji Herosi towarzyszą małym pacjentom i ich rodzinom
        od pierwszego do ostatniego dnia leczenia. Dbają o dobre samopoczucie,
        przeganiają precz szpitalną nudę, pomagają zapomnieć o bólu.
      </p>
    </div>
  </Article>
  <Article width={45} top>
    <OpacityCarousel
      images={[
        "Adam.png",
        "Aga.png",
        "Agata.png",
        "Magda_S-1.png",
        "Martyna.png",
        "Natalia.png",
        "Ola.png",
        "Sylwia.png",
      ]}
    />
    <div class="flex gap-5">
      <div class="flex flex-col justify-center gap-8 p-5">
        <p>Możesz do nas dołączyć i budować z dzieciakami lwy!</p>
        <p>Abo wesprzeć nas cykliczną wpłatą. Tak czy inaczej...</p>
        <SkewButton href="https://zrzutka.pl/zostanherosem/pay">
          Zostań Herosem
        </SkewButton>
      </div>
      <img src="/zostanHerosem/images/lew.png" class="w-[300px]" />
    </div>
  </Article>
  <Article left width={50}>
    <span class="max-w-[50%]">
      <H4>Na co zostaną wydane moje pieniądze</H4>
      <p>Jeżeli zdecyduję się na wsparcie finansowe?</p>
      <p>
        Funcacja Herosi to nie tylko bawiący się z dzieńmi wolontariusze. To
        prężnie działająca organizacja, która ma ambicje zmienić realia leczenia
        chorych onkologiznie dzieci w Polsce.
      </p>
    </span>
    <img src="/zostanHerosem/images/dzieci.png" class="max-h-[400px]" />
  </Article>
  <ImagePanelGrid />
  <ArticleSymetric gap={360}>
    <img src="/zostanHerosem/images/wrona.png" class="max-h-[400px]" />
    <div class="flex h-full flex-1 flex-col items-center gap-20">
      <div class="fill-white">
        <p class="text-lg font-medium uppercase">Dowiedz się więcej</p>
        <SkewButton href="https://herosi.eu">
          <LogoHerosi width={120} />
        </SkewButton>
      </div>
      <div>
        <p class="text-lg font-medium uppercase">Wesprzyj nas</p>
        <SkewButton href="https://zrzutka.pl/zostanherosem/pay">
          WPŁAĆ
        </SkewButton>
      </div>
    </div>
    <img src="/zostanHerosem/images/magik.png" class="max-h-[400px]" />
  </ArticleSymetric>
</Layout>
