---
import Layout from "../layouts/Layout.astro";
import Article from "../components/Article.astro";
import H2 from "../components/H2.astro";
import Carousel from "../components/Carousel.astro";
import ImagePanelGrid from "../layouts/ImagePanelGrid.astro";
import OpacityCarousel from "../components/OpacityCarousel.astro";

const title = "Zostań Herosem";
---

<Layout title={title}>
  <Article>
    <H2>Zostań Herosem... na lata!</H2>
  </Article>
  <Article left width={70}>
    <OpacityCarousel
      images={["herosi01.png", "herosi02.png", "herosi03.png", "herosi04.png"]}
    />
    <span class="text-lg">
      <strong
        >„Marzę o milionie darczyńców, którzy co miesiąc wpłacą nam złotówkę...”</strong
      > – to są słowa Prezes Fundacji Herosi, Małgorzaty Dutkiewicz, które
      dokładnie obrazują nasze ambicje.
    </span>
  </Article>
  <Article width={40}>
    <span class="text-lg">
      <strong
        >„Marzę o milionie darczyńców, którzy co miesiąc wpłacą nam złotówkę...”</strong
      > – to są słowa Prezes Fundacji Herosi, Małgorzaty Dutkiewicz, które
      dokładnie obrazują nasze ambicje.
    </span>
    <Carousel
      images={["herosi01.png", "herosi02.png", "herosi03.png", "herosi04.png"]}
    />
  </Article>
  <ImagePanelGrid />
</Layout>
