---
import Layout from "../layouts/Layout.astro";
import Article from "../components/Article.astro";
import H2 from "../components/H2.astro";

const title = "Zostań Herosem";
---

<Layout title={title}>
  <Article>
    <H2>Zostań Herosem... na lata!</H2>
  </Article>
  <Article left width={70}>
    <img src="images/dziecko.jpg" class="h-72" />
    <span class="text-lg">
      <strong
        >„Marzę o milionie darczyńców, którzy co miesiąc wpłacą nam złotówkę...”</strong
      > – to są słowa Prezes Fundacji Herosi, Małgorzaty Dutkiewicz, które
      dokładnie obrazują nasze ambicje.
    </span>
  </Article>
  <Article width={40}>
    <span class="text-lg">
      <strong
        >„Marzę o milionie darczyńców, którzy co miesiąc wpłacą nam złotówkę...”</strong
      > – to są słowa Prezes Fundacji Herosi, Małgorzaty Dutkiewicz, które
      dokładnie obrazują nasze ambicje.
    </span>
    <img src="images/dziecko.jpg" class="h-72" />
  </Article>
</Layout>
