---
import Layout from "../layouts/Layout.astro";
import Article from "../components/Article.astro";
import H1 from "../components/H1.astro";
import H2 from "../components/H2.astro";
import H4 from "../components/H4.astro";
import ImagePanelGrid from "../layouts/ImagePanelGrid.astro";
import OpacityCarousel from "../components/OpacityCarousel.astro";
import SkewButton from "../components/SkewButton.astro";
import LogoHerosi from "../components/LogoHerosi.astro";
import ArticleSymetric from "../components/ArticleSymetric.astro";

const title = "#ZostanHerosem";
---

<Layout title={title}>
  <Article left width={55} paddingY>
    <div class="md:ml-10">
      <H1>Od 2009 roku wspieramy dzieci</H1>
      <H2>z chorobami nowotworowymi</H2>
    </div>
  </Article>
  <Article width={53} top>
    <OpacityCarousel
      images={[
        "Adam.png",
        "Aga.png",
        "Agata.png",
        "Magda_S-1.png",
        "Martyna.png",
        "Natalia.png",
        "Ola.png",
        "Sylwia.png",
      ]}
    />
    <div>
      <H4>Kim są herosi?</H4>
      <p>
        Każde dziecko leczące się w Klinice Onkologii i&nbsp;Chirurgii
        Onkologicznej Dzieci i&nbsp;Młodzieży Instytutu Matki i&nbsp;Dziecka
        w&nbsp;Warszawie oraz każdy rodzic i&nbsp;opiekun zna Herosów.
      </p>
      <p>
        Wolontariusze Funacji Herosi towarzyszą małym pacjentom i&nbsp;ich
        rodzinom od pierwszego do ostatniego dnia leczenia. Dbają o&nbsp;dobre
        samopoczucie, przeganiają precz szpitalną nudę, pomagają zapomnieć
        o&nbsp;bólu.
      </p>
    </div>
  </Article>
  <Article left top width={48}>
    <img src="/zostanHerosem/images/lew.png" class="max-h-[400px]" />
    <div class="flex flex-col items-center justify-center gap-8 p-5">
      <div>
        <p>
          Pomóż nam pomagać! Bez Ciebie sobie nie poradzimy. Co możesz zrobić?
        </p>
        <p>
          Możesz do nas dołączyć i&nbsp;budować z&nbsp;dzieciakami
          w&nbsp;klinice lwy, albo różne inne magiczne rzeczy!
        </p>
        <p>Albo wspierać nas wpłatami, jednorazowymi albo cyklicznymi.</p>
      </div>
      <SkewButton href="https://zrzutka.pl/zostanherosem">
        Zostań Herosem
      </SkewButton>
    </div>
  </Article>
  <Article width={50}>
    <div>
      <H4>Na co zostaną wydane moje pieniądze</H4>
      <p>Jeżeli zdecyduję się na wsparcie finansowe?</p>
      <p>
        Fundacja Herosi to nie tylko bawiący się z&nbsp;dziećmi wolontariusze.
        To prężnie działająca organizacja, która ma ambicje zmienić realia
        leczenia chorych onkologicznie dzieci w&nbsp;Polsce.
      </p>
      <p>
        Z zebranych funduszy przekazaliśmy już blisko 2,5 mln zł:
        <ul class="list-disc ps-4">
          <li>1,3 mln zła na sprzet medyczny i narzędzia</li>
          <li>270 tys. zł na system wentylacji klimatyzacji w klinice</li>
          <li>900 tys. zł na nierefundowane badania i leki</li>
          <li>150 tys. zł na transport pacjentów na zabiegi</li>
        </ul>
      </p>
    </div>
    <img src="/zostanHerosem/images/dzieci.png" class="max-h-[400px]" />
  </Article>
  <ImagePanelGrid />
  <ArticleSymetric gap={300}>
    <img src="/zostanHerosem/images/wrona.png" class="max-h-[400px]" />
    <div class="flex h-full flex-1 flex-col items-center gap-20">
      <div class="fill-white">
        <p class="text-center text-lg font-medium uppercase">
          Dowiedz się więcej
        </p>
        <SkewButton href="https://www.facebook.com/fundacjaherosi">
          <LogoHerosi width={120} />
        </SkewButton>
      </div>
      <div>
        <p class="text-center text-lg font-medium uppercase">Wesprzyj nas</p>
        <SkewButton href="https://zrzutka.pl/zostanherosem/pay">
          WPŁAĆ
        </SkewButton>
      </div>
    </div>
    <img src="/zostanHerosem/images/magik.png" class="max-h-[400px]" />
  </ArticleSymetric>
</Layout>
