---
import Layout from "../layouts/Layout.astro";
import Article from "../components/Article.astro";
import H1 from "../components/H1.astro";
import H2 from "../components/H2.astro";
import H4 from "../components/H4.astro";
import ImagePanelGrid from "../layouts/ImagePanelGrid.astro";
import OpacityCarousel from "../components/OpacityCarousel.astro";

const title = "Zostań Herosem";
---

<Layout title={title}>
  <Article left>
    <div>
      <H1>Od 2009 roku wspieramy dzieci</H1>
      <H2>z chorobami nowotworowimy</H2>
    </div>
    <span>
      <H4>Kim są herosi?</H4>
      <p>
        Każde dziecko leczące się w Klinice oNkologii i Chirurgii Onkologicznej
        Dzieci i Młodzieży Instytutu Matk ii Dziecka w Warszawie oraz każdy
        rodzic i opiekun zna Herosów
      </p>
      <p>
        Wolontariusze Funacji Herosi towarzyszą małym pacjentom i ich rodzinom
        od pierwszego do ostatniego dnia leczenia. Dbają o dobre samopoczucie,
        przeganiają precz szpitalną nudę, pomagają zapomnieć o bólu.
      </p>
    </span>
  </Article>
  <Article width={40}>
    <OpacityCarousel
      images={[
        "Adam.png",
        "Aga.png",
        "Agata.png",
        "Aneta_J.png",
        "Gosia.png",
        "Martyna.png",
      ]}
    />
    <span class="max-w-[50%] text-lg">
      <strong
        >„Marzę o milionie darczyńców, którzy co miesiąc wpłacą nam złotówkę...”</strong
      > – to są słowa Prezes Fundacji Herosi, Małgorzaty Dutkiewicz, które
      dokładnie obrazują nasze ambicje.
    </span>
  </Article>
  <Article left width={60}>
    <span class="max-w-[50%]">
      <H4>Na co zostaną wydane moje pieniądze</H4>
      <p>Jeżeli zdecyduję się na wsparcie finansowe?</p>
      <p>
        Funcacja Herosi to nie tylko bawiący się z dzieńmi wolontariusze. To
        prężnie działająca organizacja, która ma ambicje zmienić realia leczenia
        chorych onkologiznie dzieci w Polsce.
      </p>
    </span>
    <img src="/zostanHerosem/images/dzieci.png" class="max-h-[400px]" />
  </Article>
  <ImagePanelGrid />
</Layout>
