---
interface Props {
  gap?: number;
  top?: boolean;
  paddingY?: boolean;
}

const { gap = 300, top = false, paddingY = false } = Astro.props;

const skewSvgPointsLeft = `0 0, 15 ${top ? "100" : "0"}, 0 100`;
const skewSvgPointsRight = `15 0, 0 ${top ? "0" : "100"}, 15 100`;
---

<article
  class:list={[
    "relative my-20 flex w-full justify-center",
    paddingY && "py-14",
  ]}
>
  <div class="absolute -z-10 flex h-full w-full justify-center bg-[#F6F6F6]">
    <div style=`width: ${gap}px; transform: skewX(-7deg);` class="bg-white">
    </div>
  </div>

  <div
    class="flex w-[var(--content-width)] items-center justify-between max-md:flex-col"
  >
    <slot />
  </div>
</article>
