---
interface Props {
  width?: number;
  left?: boolean;
  top?: boolean;
  paddingY?: boolean;
}

const { width = 50, left = false, top = false, paddingY = false } = Astro.props;

const topPointCoord = top ? "0" : "100";
const skewSvgPoints = left
  ? `0 0, 15 ${topPointCoord}, 0 100`
  : `15 0, 0 ${topPointCoord}, 15 100`;

const revealDirection = left ? -1 : 1;
---

<article class:list={["relative my-20 w-full", paddingY && "py-14", "reveal"]}>
  <div
    style=`width: ${width}%`
    class:list={[
      "absolute top-0 -z-10 h-full bg-[#F6F6F6]",
      left ? "left-0" : "right-0",
    ]}
  >
    <svg
      viewBox="0 0 15 100"
      class:list={[
        "absolute top-0 h-full fill-[#F6F6F6]",
        left ? "left-full" : "right-full",
      ]}
    >
      <polygon points={skewSvgPoints}></polygon>
    </svg>
  </div>
  <div
    class:list={[
      "mx-auto flex max-w-[var(--content-width)] items-center justify-between gap-24",
      "max-lg:gap-6 max-lg:px-8 max-md:flex-col",
    ]}
  >
    <slot />
  </div>
</article>
<style define:vars={{ revealDirection }}>
  .reveal.pending {
    transform: translateX(calc(5vw * var(--revealDirection)));
    opacity: 0.3;
  }

  .reveal {
    transform: translateX(0);
    opacity: 1;
    transition: 0.8s ease-in-out;
  }
</style>
