---
interface Props {
  image: string;
  title: string;
  content: string;
  index: number;
}

const { image, title, content, index } = Astro.props;
let flow;
if (index % 4 === 0) {
  flow = "flex-row";
} else if (index % 4 === 1) {
  flow = "lg:flex-row max-lg:flex-row-reverse";
} else if (index % 4 === 2) {
  flow = "max-lg:flex-row lg:flex-row-reverse";
} else {
  flow = "flex-row-reverse";
}
---

<section class=`flex ${flow} items-center max-md:flex-col bg-[#F6F6F6]`>
  <img src={image} class="h-72 w-72" />
  <div class="flex flex-col items-center gap-10 px-10 text-justify">
    <span>
      {content}
    </span>
    <span class="font-bold uppercase">{title}</span>
  </div>
</section>
