---
interface Props {
  href: string;
}

const { href } = Astro.props;
---

<astro-button
  class:list={[
    "cursor-pointer whitespace-nowrap uppercase text-white transition-all duration-200",
    "block h-[80px] min-w-[240px]",
    "px-8 hover:px-3",
  ]}
>
  <a target="_blank" href={href} class="h-full w-full fill-white">
    <div
      class="inner relative flex h-full w-full items-center justify-center before:bg-[var(--dark-primary)] hover:before:bg-[var(--primary)]"
    >
      <slot />
    </div>
  </a>
</astro-button>
<style>
  .inner::before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: skewX(-7deg);
  }
  .inner:hover::before {
    padding-right: 10px;
  }
</style>
