---
import * as kontakt from "./kontakt.md";
import * as bankowe from "./informacje_bankowe.md";
import Social from "../components/Social.astro";
---

<footer class="mt-20 w-full bg-[#444444] lg:h-56">
  <div
    class="flex h-full flex-row justify-center text-white max-md:flex-col max-md:items-center"
  >
    <svg viewBox="0 0 160 160" class="max-lg:w-56">
      <g>
        <path
          style="fill:#ffffff;fill-opacity:1;"
          d="m 154.07453,515.4021 c 0,-0.16064 4.97784,-30.54468 11.06188,-67.52008 6.83204,-41.5214 10.77973,-67.51016 10.32401,-67.96588 -0.45572,-0.45573 -0.9041,-0.3086 -1.17259,0.38478 -0.23909,0.61746 -7.15414,16.9856 -15.36678,36.37364 l -14.93206,35.25099 -21.29646,-0.17094 c -11.71303,-0.094 -37.249311,-0.40346 -56.747266,-0.68765 l -35.450829,-0.51671 2.180236,-2.598 c 1.199129,-1.4289 9.849152,-11.30025 19.222271,-21.93631 64.596398,-73.30022 98.923648,-121.17663 125.120388,-174.5061 14.53671,-29.59282 22.29471,-49.37078 37.82761,-96.43639 l 10.12764,-30.68736 57.62942,-0.009 c 54.36253,-0.008 57.62909,0.0699 57.62374,1.37755 -0.003,0.76245 -4.28064,27.23039 -9.50559,58.81765 -5.22496,31.58726 -9.50005,57.69874 -9.50021,58.0255 -1.5e-4,0.32677 16.13211,0.59412 35.8495,0.59412 h 35.8498 l 15.89266,-90.10786 15.89267,-90.107851 59.95167,-0.203019 c 51.70217,-0.175083 59.95168,-0.0463 59.95168,0.93588 0,1.055373 -69.21614,383.66006 -70.12383,387.62209 l -0.40833,1.78236 h -59.0006 c -53.39071,0 -59.0006,-0.11972 -59.0006,-1.259 0,-1.18364 20.21808,-111.94666 21.13425,-115.7822 l 0.42574,-1.78235 h -35.67 -35.67 l -0.46043,2.17843 c -0.25325,1.19814 -7.06016,41.21197 -15.12649,88.91962 -8.06632,47.70765 -14.84541,87.54325 -15.06465,88.52354 l -0.39861,1.78236 h -60.58492 c -33.3217,0 -60.58492,-0.13144 -60.58492,-0.29209 z"
          transform="scale(0.26458333)"
        >
        </path>
      </g>
    </svg>
    <div set:html={kontakt.compiledContent()} class="p-3" />
    <div set:html={bankowe.compiledContent()} class="p-3" />
    <Social />
  </div>
</footer>
