---
import { getCollection } from "astro:content";
import ImagePanel from "../components/ImagePanel.astro";

const panels = await getCollection("panels");
---

<div
  class="mx-auto grid max-w-[var(--grid-content-width)] gap-10 max-lg:grid-cols-1 lg:grid-cols-2"
>
  {
    panels
      .sort((a, b) => a.data.order - b.data.order)
      .map(async (panel, index) => {
        return (
          <ImagePanel
            image={panel.data.image}
            title={panel.data.title}
            index={index}
            panel={panel}
          />
        );
      })
  }
</div>
