---
import LogoHerosi from "../components/LogoHerosi.astro";
interface Props {
  title: string;
}
const { title } = Astro.props;
---

<header class="relative h-24 w-full shadow-lg">
  <div
    class:list={[
      "absolute top-0 -z-10 h-full bg-[var(--dark-primary)]",
      "w-[40%] min-w-[180px]",
      "left-0",
    ]}
  >
    <svg
      viewBox="0 0 15 100"
      class:list={[
        "absolute top-0 h-full fill-[var(--dark-primary)]",
        "left-full",
      ]}
    >
      <polygon points="0 0, 15 100, 0 100"></polygon>
    </svg>
  </div>
  <div
    class="m-auto flex h-full max-w-[var(--content-width)] items-center justify-between gap-16"
  >
    <a target="_blanc" href="http://herosi.eu">
      <div class="fill-white">
        <LogoHerosi width={150} />
      </div>
    </a>
    <span class="text-3xl font-medium">{title}</span>
  </div>
</header>
